/*Red #ff5252*/
.search-panel {
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.data-table {
    margin-top: 5em;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}

.format-modal-add-buttons {
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
