<h1 class="text-center">Formula Name</h1>
<h2 class="text-muted text-center">Formula Color Number</h2>

<br />

<h4 class="text-muted">Forumla Info</h4>

<p> <b>Base Product Name:</b> ex. Benjamin Moore Paints </p>
<p> <b>Base:</b> ex. Offwhite Satin </p>
<br />
<p> <b>Colorant:</b> ex. Goldenrod Yellow </p>
<p> <b>Colorant Amount(in gallons):</b> ex. 1  </p>

<hr />

<h4 class="text-muted">Additional Info</h4>

<p> <b>Customer Name:</b> ex. Edwards Inc. </p>
<p> <b>Summary:</b> ex. Also known as Van Dyke Gold</p>
<p> <b>Notes:</b> ex. Don't create this color without contacting Steve first. Becareful when pouring colorant on second machine it has a leak.</p>
