<form id="edit_form" autocomplete="off">
    <input type="hidden" id="formula_id" name="formula_id" value="{{formula.id}}">
    <div class="form-horizontal text-center">
        <div class="form-group-lg row">
            <label class="sr-only" for="formula_name">Formula Name</label>
            <div class="col-sm-offset-2 col-sm-8">
                {% if not formula.formula_name -%}
                <input type="text" class="form-control deco-none text-center" id="formula_name" name="formula_name" placeholder="Formula Name" />
                {%- else -%}
                <input type="text" class="form-control deco-none text-center" id="formula_name" name="formula_name" value="{{formula.formula_name}}" />
                {%- endif %}
            </div>
        </div>
        <div class="form-group-lg row">
            <label class="sr-only" for="formula_number">Formula Color Number</label>
            <div class="col-sm-offset-3 col-sm-6">
                {% if not formula.formula_number -%}
                <input type="text" class="form-control deco-none text-center" id="formula_number" name="formula_number" placeholder="Formula Number" />
                {%- else -%}
                <input type="text" class="form-control deco-none text-center" id="formula_number" name="formula_number" value="{{formula.formula_number}}" />
                {%- endif %}
            </div>
        </div>
    </div>

    <br />

    <h4 class="text-muted">Formula Info</h4>
    <br />
    <div class="base">
        <div class="form-inline">
            <div class="form-group">
                <label for="base_product_name">Base:&nbsp;</label>
                {% if not base.base_product_name -%}
                <input type="text" class="form-control" id="base_product_name" name="base_product_name" placeholder="Base Product Name" />
                {%- else -%}
                <input type="text" class="form-control" id="base_product_name" name="base_product_name" value="{{base.base_product_name}}" />
                {%- endif %}
            </div>
            <div class="form-group">
                {% if not base.base_name -%}
                <input type="text" class="form-control" id="base_name" name="base_name" placeholder="Base Name" />
                {%- else -%}
                <input type="text" class="form-control" id="base_name" name="base_name" value="{{base.base_name}}" />
                {%- endif %}
            </div>
            <div class="form-group">
                {% if not base.base_size -%}
                <input type="text" class="form-control" id="base_size" name="base_size" placeholder="Base Size" />
                {%- else -%}
                <input type="text" class="form-control" id="base_size" name="base_size" value="{{base.base_size}}" />
                {%- endif %}
            </div>
        </div>
    </div>
    <br />
    <h5><a id="add_colorant_edit_form" class="deco-none text-muted" href="#">Add Colorant</a></h5>
    <div class="colorant_list">
        {% if not colorant_list -%}
        <div class="form-inline">
            <div class="form-group">
                <label for="colorant_product_name1">Colorant:&nbsp;</label>
                <input type="text" class="form-control" id="colorant_product_name1" name="colorant_product_name1" placeholder="Colorant Product Name" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="colorant_name1" name="colorant_name1" placeholder="Colorant Name" />
            </div>
            <div class="form-group">
                <label class="sr-only" for="colorant_amount1">Amount</label>
                <input type="text" class="form-control" id="colorant_amount1" name="colorant_amount1" placeholder="Amount" />
            </div>
        </div>
        {%- else -%}
        {% for colorant in colorant_list -%}
        <div class="form-inline">
            <div class="form-group">
                <input type="hidden" name="colorant_id" value="{{colorant.id}}">
                <label for="colorant_product_name{{loop.index}}">Colorant:&nbsp;</label>
                <input type="text" class="form-control" id="colorant_product_name{{loop.index}}" name="colorant_product_name{{loop.index}}" value="{{colorant[0]}}" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="colorant_name{{loop.index}}" name="colorant_name{{loop.index}}" value="{{colorant[1]}}" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="colorant_amount{{loop.index}}" name="amount{{loop.index}}" value="{{colorant[2]}}" />
            </div>
        </div>
        {%- endfor %}
        {%- endif %}
    </div>

    <hr />

    <h4 class="text-muted">Additional Info</h4>
    <div class="form-group">
        <label for="customer_name">Customer Name</label>
        <input type="text" class="form-control" id="customer_name" name="customer_name" value="{{formula.customer_name}}" />
    </div>
    <div class="form-group">
        <label for="job_address">Job Address</label>
        <input type="text" class="form-control" id="job_address" name="job_address" value="{{formula.job_address}}" />
    </div>
    <div class="form-group">
        <label for="notes">Notes</label>
        <textarea id="notes" name="notes" class="form-control" rows="3">{{formula.notes}}</textarea>
    </div>
</form>

<script src="{{ url_for('static',filename='javascript/edit_modal_view.js') }}"></script>
