<form>
    <div class="form-horizontal text-center">
        <div class="form-group-lg row">
            <label class="sr-only" for="InputFormulaName">Formula Name</label>
            <div class="col-sm-offset-2 col-sm-8">
                <input type="text" class="form-control deco-none text-center" id="InputFormulaName" value="{{formula.color_name}}" />
            </div>
        </div>
        <div class="form-group-lg row">
            <label class="sr-only" for="InputFormulaNumber">Formula Color Number</label>
            <div class="col-sm-offset-3 col-sm-6">
                <input type="text" class="form-control deco-none text-center" id="InputFormulaNumber" value="{{formula.color_number}}" />
            </div>
        </div>
    </div>

    <br />

    <h4 class="text-muted">Formula Info</h4>
    <br />

    <h5><a id="add_base" class="deco-none text-muted" href="#">Add Base</a></h5>
    <div class="base_list">
        {% if not base_list -%}
        <div class="form-inline">
            <div class="form-group">
                <label for="InputBase1">Base:&nbsp;</label>
                <input type="text" class="form-control" id="InputBase1" placeholder="Base Name" />
            </div>
            <div class="form-group">
                <label class="sr-only" for="InputProductName1">Base Product Name</label>
                <input type="text" class="form-control" id="InputProductName1" placeholder="Base Product Name" />
            </div>
        </div>
        {%- else -%}
        {% for base in base_list -%}
        <div class="form-inline">
            <div class="form-group">
                <label for="InputBase{{loop.index}}">Base:&nbsp;</label>
                <input type="text" class="form-control" id="InputBase{{loop.index}}" value="{{base.base_name}}" />
            </div>
            <div class="form-group">
                <label class="sr-only" for="InputProductName{{loop.index}}">Base Product Name</label>
                <input type="text" class="form-control" id="InputProductName{{loop.index}}" value="{{base.product_name}}" />
            </div>
        </div>
        {%- endfor %}
        {%- endif %}
    </div>
    <br />
    <h5><a id="add_colorant" class="deco-none text-muted" href="#">Add Colorant</a></h5>
    <div class="colorant_list">
        {% if not colorant_list -%}
        <div class="form-inline">
            <div class="form-group">
                <label for="InputColorant1">Colorant:&nbsp;</label>
                <input type="text" class="form-control" id="InputColorant1" placeholder="Colorant Name" />
            </div>
            <div class="form-group">
                <label class="sr-only" for="InputAmount1">Amount</label>
                <input type="number" class="form-control" id="InputAmount1" placeholder="Amount (in gallons)" />
            </div>
        </div>
        {%- else -%}
        {% for colorant in colorant_list -%}
        <div class="form-inline">
            <div class="form-group">
                <label for="InputColorant{{loop.index}}">Colorant:&nbsp;</label>
                <input type="text" class="form-control" id="InputColorant{{loop.index}}" value="{{colorant.colorant_name}}" />
            </div>
            <div class="form-group">
                <label class="sr-only" for="InputAmount{{loop.index}}">Amount</label>
                <input type="number" class="form-control" id="InputAmount{{loop.index}}" value="{{colorant.amount}}" />
            </div>
        </div>
        {%- endfor %}
        {%- endif %}
    </div>

    <hr />

    <h4 class="text-muted">Additional Info</h4>
    <div class="form-group">
        <label for="InputCustomer">Customer Name</label>
        <input type="text" class="form-control" id="InputCustomer" value="{{formula.customer_name}}" />
    </div>
    <div class="form-group">
        <label for="InputSummary">Summary</label>
        <input type="text" class="form-control" id="InputSummary" value="{{formula.summary}}" />
    </div>
    <div class="form-group">
        <label for="InputNotes">Notes</label>
        <textarea id="InputNotes" class="form-control" rows="3">{{formula.notes}}</textarea>
    </div>
</form>

<script src="{{ url_for('static',filename='javascript/modal_view.js') }}"></script>
