<!DOCTYPE html>
<html lang="en">
<head>
    <title>BaseCoat: Formula Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/swagcity.css') }}">

    <link rel='shortcut icon' href="{{ url_for('static',filename='images/paintbrush.ico') }}" type='image/x-icon'/ >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='javascript/confirmation.min.js') }}"></script>
    <script src="{{ url_for('static',filename='javascript/debounce.js') }}"></script>
    <script src="{{ url_for('static',filename='javascript/index_view.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="page-header text-center">
            <img class="icon" src="{{ url_for('static',filename='images/paintbrush.svg') }}" />
            <h1>BaseCoat: Formula Search <br />
                <small>An application to help you find the correct formula. No more index cards.</small>
            </h1>
        </div>
    </div>
    <div class="container">
        <div class="input-group">
            <input id="search_bar" type="search" class="form-control input-lg" placeholder="Color name or number" />
            <span class="input-group-btn">
                <button id="add_button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#add_modal" type="button">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </span>
        </div>
    </div>
    <br /><br />
    <div class="containter">
        <!-- generate table -->
        {% include "table.html" %}
    </div>

    <!-- Add formula modal -->
    <div class="modal fade" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    Add Modal
                </div>
                <div class="modal-footer">
                    <button id="add_close_button" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="add_save_button" type="button" class="btn btn-success">Add Formula</button>
                </div>
            </div>
        </div>
    </div>

    <!-- View formula modal -->
    <div class="modal fade" id="view_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="view_delete_button"
                            type="button" class="btn btn-danger pull-right"
                            style="display:none;"
                            data-toggle="confirmation"
                            data-btn-ok-label="Delete"
                            data-btn-ok-icon="glyphicon glyphicon-trash"
                            data-btn-ok-class="btn-danger"
                            data-btn-cancel-label="Cancel"
                            data-btn-cancel-icon="glyphicon glyphicon-ban-circle"
                            data-btn-cancel-class="btn-default"
                            data-title="Delete Formula?"
                            data-placement="left">Delete Formula</button>
                    <h4 class="modal-title" id="myModalLabel">Formula</h4>
                </div>
                <div class="modal-body">
                    View Modal
                </div>
                <div class="modal-footer">
                    <button id="view_close_button" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="view_edit_button" type="button" class="btn btn-primary">Edit</button>
                    <button id="view_save_button" type="button" class="btn btn-success" style="display:none;">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
