<!DOCTYPE html>
<html lang="en">
<head>
    <title>BaseCoat: Formula Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>BaseCoat: Formula Search <br />
                <small>An application to help you find the correct forumla, the first time.</small>
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <h3>Space into massive search bar</h3>
        <h1>Table with results: Edit button</h1>
    </div>
    <div class="container-fluid">
        <h3>Each entry will have Color name and next to grey the color number. </h3>
        <h3>Each entry opens a modal with extra information that will have an edit and delete button</h3>
    </div>
</body>
</html>
