<h1 class="text-center">{{formula.formula_name}}</h1>
<h2 class="text-muted text-center">{{formula.formula_number}}</h2>

<br />

<h4 class="text-muted">Forumla Info</h4>

<p> <b>Base:</b> {{base.base_product_name}} {{base.base_name}} <span class="badge">{{base.base_size}}</span> </p>

<p> <b>Colorants:</b> </p>
<ul class="list-group">
  {% for colorant in colorant_list -%}
  <li class="list-group-item">
    <span class="badge">{{colorant[2]}}</span>
    {{colorant[0]}} {{colorant[1]}}
  </li>
  {%- endfor %}
</ul>

<hr />

<h4 class="text-muted">Additional Info</h4>

<p> <b>Customer Name:</b> {{formula.customer_name}}</p>
<p> <b>Job Address:</b> {{formula.job_address}}</p>
<p> <b>Notes:</b><pre>{{formula.notes}}</pre></p>

<hr />
<p class="text-right"> <b>Created Date:</b> {{formula.created_date}}</p>
<p class="text-right"> <b>Last Modified:</b> {{formula.last_modified}}</p>
